---
import Layout from '@/layouts/PageLayout.astro';
import { availableProducts } from '@/assets/data/products/products';
import ButtonAddToCart from '@/components/ecommerce/ButtonAddToCart';
import { Badge } from '@/components/ui/badge';

export async function getStaticPaths() {
  return availableProducts.map((product) => ({
    params: { id: product.id.toString() },
    props: { product },
  }));
}

const { id } = Astro.params;
const { product } = Astro.props;

const metadata = {
  title: `Producto ${id}`,
};

const discountPercentage = (
  ((product.listPrice - product.discountedPrice) / product.listPrice) * 100
).toFixed(0);
---

<Layout metadata={metadata}>
  <main class="container mx-auto px-4 py-14">
    <div class="max-w-4xl mx-auto">
      <h1 class="text-3xl font-bold mb-6">Art-{product.item}: {product.name}</h1>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        <div>
          <img src={product.image} alt={product.name} class="w-full h-auto rounded-lg shadow-md" />
        </div>
        <div>
          <div class="flex items-center justify-between mb-4">
            <div class="flex items-center">
              <p class="text-2xl font-semibold">${product.discountedPrice}</p>
              {product.discountedPrice < product.listPrice && (
                <p class="ml-4 line-through text-gray-500">${product.listPrice}</p>
              )}
            </div>
            {product.discountedPrice < product.listPrice && (
              <Badge className="text-red-500 bg-white border-red-500 dark:bg-red-500 dark:text-white">  
                {discountPercentage}% OFF
              </Badge>
            )}
          </div>

          {product.inStock ? (
            <p class="text-green-600 mb-4">Disponible</p>
          ) : (
            <p class="text-red-600 mb-4">Sin stock</p>
          )}

          {product.sizes.length > 0 && product.inStock && (
            <div>
              {product.sizes.length > 1 ? (
                <div class="p-2">
                  <p class="block text-gray-700 font-bold mb-2">Selecciona un talle:</p>
                </div>
              ) : (
                <p class="text-gray-700 font-bold mb-2">Talle único</p>
              )}
            </div>
          )}
          <ButtonAddToCart client:load product={product}></ButtonAddToCart>
        </div>
      </div>
      <div class="mt-8">
        <a href={`/homes/${product.category}`} class="text-blue-500 hover:underline">
          &larr; Volver a la lista de {product.category}
        </a>
      </div>
    </div>
  </main>
</Layout>